@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Nunito", ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    /* Light Theme */
    --color-surface: var(--color-amber-50);
    --color-surface-alt: var(--color-amber-100);
    --color-on-surface: var(--color-neutral-500);
    --color-on-surface-strong: var(--color-neutral-700);
    --color-primary: var(--color-indigo-400);
    --color-on-primary: var(--color-white);
    --color-secondary: var(--color-orange-200);
    --color-on-secondary: var(--color-neutral-800);
    --color-outline: var(--color-neutral-200);
    --color-outline-strong: var(--color-neutral-500);

    /* Dark Theme */
    --color-surface-dark: var(--color-neutral-900);
    --color-surface-dark-alt: var(--color-neutral-800);
    --color-on-surface-dark: var(--color-violet-100);
    --color-on-surface-dark-strong: var(--color-white);
    --color-primary-dark: var(--color-indigo-400);
    --color-on-primary-dark: var(--color-white);
    --color-secondary-dark: var(--color-orange-200);
    --color-on-secondary-dark: var(--color-neutral-800);
    --color-outline-dark: var(--color-neutral-700);
    --color-outline-dark-strong: var(--color-neutral-600);

    /* Shared Colors */
    --color-info: var(--color-blue-300);
    --color-on-info: var(--color-sky-800);
    --color-success: var(--color-green-300);
    --color-on-success: var(--color-green-800);
    --color-warning: var(--color-amber-300);
    --color-on-warning: var(--color-amber-700);
    --color-danger: var(--color-red-500);
    --color-on-danger: var(--color-red-800);

    /* Border Radius */
    --radius-radius: var(--radius-xl);
}

[x-cloak] {
    display: none;
}

button:not(:disabled) {
    cursor: pointer;
}

@keyframes shake {

    0%,
    100% {
        transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateY(-5px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateY(5px);
    }
}

.shake {
    animation: shake 0.3s cubic-bezier(.36, .07, .19, .97) both;
}